.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: aqua;
  width: 100%;
  height: 8%;
}

.discover-meal-card{
  margin: 5%;
  padding-bottom: 3%;
  /* background-color: blue; */
  border-bottom: solid black;
}

.discover-image{
  border-radius: 10%;
}